:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --nav-list-color: #212121;
    --accent-color: #2196F3;
    --bg-color: #ffffff;
    --footer-bg-color: #2F303A;
    --footer-text-color: #ffffff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --logo-color-dark: #000000;
    --logo-color-light: #ffffff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

.no-scroll {
    overflow: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    font-family: var(--font-family);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav {
    display: flex; 
    align-items: center;
}

.header_list {
    display: flex; 
    gap: 30px;
}

.header_item {
    margin-right: 0px;
    flex-basis: calc( ( 100% - 2 * 30px ) /  3);
    position: relative;
}

.header_link {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}

.header_link_span_blue {
    color: var(--accent-color)
}

.header_list_link {
    display: block;
    text-decoration: none;
    padding: 20px 0;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    position: relative;
}

.header_list_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_list_link:hover::after,
.header_list_link.current::after {
    width: 100%; }


.header_list_link.current {
    color: var(--accent-color);
}

.header_list_link:hover {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
    display: flex; 
    align-items: center;
}

.header_link_info,
.header_link_number {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-left: 30px;
}

.header_link_info:hover,
.header_link_number:hover {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heading {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to bottom, 
        rgba(30, 30, 30, 0.4), 
        rgba(0, 0, 0, 0.6)),
        url("../img/heading.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.heading_title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--logo-color-light);
    margin-bottom: 30px;
}

.heading_button {
    text-align: center;
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: var(--logo-color-light);
    width: 216px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.heading_button:hover{
    background: #1b7dcd;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
    line-height: 162%;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
}

.button_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.button_button{
    padding: 6px 22px;
    border: none;
    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

.button_button:hover,
.button_button.current_button {
    background-color: var(--accent-color);
    color: var(--logo-color-light);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
    padding-bottom: 94px;
}

.projects_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.projects_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.projects_subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
}

.projects_item{
    flex-basis: calc( ( 100% - 2 * 30px ) /  3);
    transition: box-shadow 0.5s ease;
}

.projects_item img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.projects_item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects_item_div{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}

.projects_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: var(--secondary-text-color);
}

.about {
    padding: 94px 0;
}

.about_list {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
}

.about_item {
    flex: 1; 
    margin-right: 0px;
    position: relative;
    padding-top: 170px;
    text-align: center;
}

.about_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-attention::before {
    background-image: url("../img/icon-attention.jpg");
}

.icon-punctuality::before {
    background-image: url("../img/icon-punctuality.jpg");
}

.icon-planning::before {
    background-image: url("../img/icon-planning.png");
}

.icon-technology::before {
    background-image: url("../img/icon-technology.jpg");
}

.about_title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 114%;
    margin-bottom: 10px;
}

.about_text {
    font-weight: 400;
    line-height: 171%;
    color: var(--secondary-text-color);
}

.portfolio {
    padding-bottom: 94px;
}

.portfolio_list {
    display: flex; 
    gap: 30px;
}

.portfolio_item {
    position: relative;
    flex: 1;
    margin-right: 0px;
}

.portfolio_position{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    top: 225px;
}

.portfolio_position_text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--footer-text-color);
}

.portfolio_item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.team {
    background-color: #F5F4FA;
    padding-bottom: 94px; 
    padding-top: 94px;
}

.team_list {
    display: flex;
    gap: 30px;
}

.team_item {
    flex: 1;
    border-radius: 0 0 4px 4px;
    margin-right: 0px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team_item img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.team_subtitle {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.team_text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--secondary-text-color);
}

.clients{
    margin: 94px 0;
}

.clients_text{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.clients_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients_item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border 0.5s ease;
}

.clients_item:hover{
    border: 1px solid var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_icon {
    fill: #AFB1B8 ;
    width: 106px; 
    height: 60px;
}

.clients_item:hover .clients_icon {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer_link {
    display: inline-block;
    font-weight: 700;
    font-size: 26px;
    font-family: var(--second-family);
    color: var(--logo-color-light);
    margin-bottom: 20px;
}

.footer_link_span_blue {
    color: var(--accent-color)
}

.footer_text {
    font-weight: 400;
    line-height: 171%;
    color: var(--logo-color-light);
    margin-bottom: 9px;
}

.footer_link_info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.footer_link_number {
    font-weight: 400;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
}

.footer_enjoy{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.footer_enjoy_text{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-color);
    margin-bottom: 20px;
}


.social_list{
    display: flex;
}

.social_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--background-color);
}

.social_item:hover{
    color: currentColor;
    background-color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.subscribe_title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color-light);
    margin-bottom: 20px;
}

.subscribe_form{
    display: flex;
    gap: 12px;
}

.subscribe_form input{
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: var(--logo-color-light);
    opacity: 0.6;
}

.subscribe_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--logo-color-light);
    gap: 10px;
}

.subscribe_button:hover{
    background-color: #1b7dcd;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7d7d7d50;
    opacity: 1;
    visibility: visible;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    padding:40px ;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.modal_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 14px;
    right: 8px;
}

.modal_icon svg {
    width: 18px;
    height: 18px;
    stroke: currentColor;
    stroke-width: 2;
    fill: currentColor; 
}

.modal_icon:hover svg {
    width: 18px;
    height: 18px;
    stroke: var(--accent-color);
    stroke-width: 2;
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_title{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
}

.data-modal-close:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);

}

.modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal_label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal_span{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal_write{
    position: relative;
    display: flex;
    align-items: center;
}

.modal_write input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;
}

.modal_write_last textarea{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    padding: 12px 16px;
    height: 120px;
}

.modal_write:focus-within input {
    border: 1px solid var(--accent-color);
}

.modal_write_last:focus-within textarea {
    border: 1px solid var(--accent-color);
}

.modal_img{
    position: absolute;
    left: 16px;
}

.modal_label:focus-within {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_label:focus-within input {
    outline: #03A9F4;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_label:focus-within textarea {
    outline: #03A9F4;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox_span{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.modal_button{
    margin-top: 30px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--bg-color);
}

.modal_buttonL:hover{
    background-color: #1b7dcd;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}