:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --nav-list-color: #212121;
    --accent-color: #2196F3;
    --bg-color: #ffffff;
    --footer-bg-color: #2F303A;
    --footer-text-color: #ffffff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --logo-color-dark: #000000;
    --logo-color-light: #ffffff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
