:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --nav-list-color: #212121;
    --accent-color: #2196F3;
    --bg-color: #ffffff;
    --footer-bg-color: #2F303A;
    --footer-text-color: #ffffff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --logo-color-dark: #000000;
    --logo-color-light: #ffffff;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
body{
    font-family: var(--font-family);
}
.header_link{
    font-family: var(--second-family);
}
.footer_link{
    font-family: var(--second-family);
}
.button{
    line-height: 162%;
}
.projects_subtitle{
    line-height: 200%;
}
.projects_text{
    line-height: 187%;
}
.footer_address{
    line-height: 171%
}
.heading_title{
    line-height: 136%;
}
.heading_button{
    line-height: 187%;
}
.about_text{
    line-height: 171%;
}
